header .navbar {
  min-height: auto;
}
header .nav-logo {
  max-width: 90px;
}
header .nav-text {
  text-align: start !important;
  font-size: 23px;
}
header .nav-text br {
  display: none;
}
header .nav-logo-container {
  min-width: 300px;
}
header #navbarNav {
  justify-content: end !important;
  padding-right: 20px;
}
header .navbar .navbar-nav a:not(.btn-phone) {
  font-size: 20px;
  font-weight: 600;
  color: #d7007a;
  text-decoration: none;
}
header .navbar .navbar-nav .dropdown-menu .dropdown-item {
  font-size: 20px;
}
header .right-0 {
  right: 0;
}
footer .contact-box svg {
  min-width: 27px;
  min-height: 27px;
  width: 27px;
  height: 27px;
}
footer .contact-box {
  font-size: 13px !important;
  line-height: 15px;
  padding-bottom: 10px !important;
}
footer .contact-box.phone a {
  font-size: 13px !important;
}
footer .list-title {
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  border-bottom: 1px solid #464444;
  margin-bottom: 10px !important;
  padding-bottom: 13px;
}
footer .contact-box.location .location-info strong {
  font-size: 13px;
}
footer .footer-logo-title {
  font-size: 20px;
}
footer .footer-logo-title br {
  display: none;
}
footer .location-info .paragraph {
  margin-bottom: 0;
}
footer .second-footer {
  padding-block: 17px;
}
footer .second-footer-link {
  font-size: 20px;
}
footer .footer-socials a svg {
  max-width: 24px;
  max-height: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
footer .footer-bg {
  background: #171717;
}
.construction-tabs .nav-item .nav-link {
  padding: 15px 40px;
  width: auto;
}
.construction-tabs .nav-item .nav-link:hover {
  background: #eee;
}
@media (max-width: 991.98px) {
  footer .img-fluid {
    width: 80px;
    margin: 0 auto;
    display: block;
  }
  footer .footer-logo-title {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  footer .contact-box svg {
    display: none;
  }
}
@media (max-width: 575.98px) {
  header .nav-logo-container {
    min-width: 70px;
    padding: 0;
  }
  header .nav-logo {
    max-width: 70px;
  }
  .construction-tabs .nav-item .nav-link {
    padding: 15px 0;
    width: 100%;
  }
}
.dropdown-search {
  padding: 0;
}
.dropdown-search .dropdown-menu {
  border: 1px solid #d30781;
  border-radius: 0;
  width: 100%;
  background: white;
  margin-top: -3px !important;
  padding: 0;
}
.dropdown-search .dropdown-menu li span {
  padding: 10px 17px;
}
.dropdown-search .dropdown-menu .dropdown-item:hover,
.dropdown-search .dropdown-menu .dropdown-item:focus {
  background-color: #f7dfed;
  color: black;
}
.dropdown-search .dropdown-menu .dropdown-item.active,
.dropdown-search .dropdown-menu .dropdown-item:active,
.dropdown-search .dropdown-menu .dropdown-item.active:hover {
  background-color: #d7007a;
  color: white;
}
.dropdown-search .dropdown-toggle {
  width: 100%;
  border: 1px solid #D4D4D4;
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
  text-align: left;
  letter-spacing: 0.1rem;
  padding: 17px;
}
.dropdown-search .dropdown-toggle:after {
  display: none;
}
.dropdown-search .dropdown-toggle:hover {
  border: 1px solid #d30781;
}
.main-search-box .subtitle {
  font-size: 13px;
  margin-bottom: 5px !important;
}
.main-search-box .title {
  font-size: 29px;
  line-height: 30px;
}
.main-search-box .dropdown:hover .dropdown-menu {
  display: none;
}
.main-search-box .dropdown:hover .dropdown-menu.show {
  display: block;
}
.title-property .header-1 {
  font-size: 28px;
}
.accordion-form-check {
  padding-inline: calc(var(--bs-gutter-x) * 0.5);
}
.accordion-form-check .accordion-header {
  padding-inline: 0;
}
.form-check .form-check-input {
  margin-left: 0;
}
.form-check-input[type="checkbox"] {
  border-radius: 0;
}
/*# sourceMappingURL=styles.css.map */