@import "./imports";

.page-item.active span {
  background: #d7007a;
  color: white;
  font-weight: 600;
}
.page-item:first-child,
.page-item:last-child {
  display: none;
}
#pagination {
  border: 1px solid #e1e1e1;
  padding: 5px 15px;
}
.pagination {
  .page-link {
    width: 34px;
    height: 34px
  }
}

.investment-news {
  h2 {
    font-size: 35px;
    color: #000;
    font-weight: 900;
    letter-spacing: 2px;
  }
}

.apartment-type {
    /* font-size: 0.8125rem; */
    font-size: 0.7125rem;
    /* height: fit-content; */
    /* height: fit-content; */
}
  .ap-column-box .apartment-type {
    /* width: 120px; */
    /* height: 36px; */
    width: 180px;
    min-height: 36px;
    text-align: center;
  }

  .apartment-box-container:not(.apartment-box-container.switch) .apartment-type {
    font-size: 0.5125rem;
    width: 120px;
}

.main-search-box .levels-box {
  /* flex-wrap: wrap */
  flex-wrap: wrap;
  width: 100%;
}
.main-search-box .levels-box .level-label {
  /* width: 57px; */
  /* height: 57px; */
  min-height: 57px;
  width: auto;
  /* cursor: pointer */
  cursor: pointer;
  flex: 1 1 auto;
}

.bg-custom-gray {
  background-color: #f3f0ee;
}
.site-record-book-box.highlight :is(.number) {
  background-color: var(--bs-primary);
  color: var(--bs-white)
}

.halfs {
  display: flex;
  height: 800px;
  -moz-box-pack: justify;
  justify-content: space-between;
  flex-direction: row;
  .half-section {
    width: 50%;
    height: 100%;
  }
  .half-image-cover {
    display: block;
    min-height: initial;
    min-width: initial;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    transition: 0.35s;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      transition-delay: 500ms
    }
  }
  .half-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    &-cover {
      display: flex;
      flex-direction: column;
      max-width: 620px;
      margin-left: 100px;
      padding-right: 20px;
    }
  }
}

@media (max-width: 1199.98px) {
  .half-text-cover {
    margin-left: 50px;
  }
}

@media (max-width: 991.98px) {
  .halfs {
    display: block;
    height: auto;
    .half-section {
      width: 100%;
    }
    .half-image-cover {
      height: 320px;
      img {
        object-position: top;
      }
    }
    .half-text {
      padding: 30px;
      &-cover {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-left: 0;
        padding-right: 0;
      }
    }
  }
}

.date-start {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 5px 10px;
  line-height: normal;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  &.date-start-sm {
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  .date-start {
    font-size: 14px;
    justify-content: center;
  }
}

.required {
  color: #d7007a;
}

.modal-header {
  .btn-close {
    background: #d7007a;
    opacity: 1;
    padding: 0;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    svg {
      fill: white;
      width: 16px;
      height: 16px;
    }
  }
}

.formError{position:absolute;top:300px;left:300px;display:block;z-index:500;cursor:pointer;border:0 !important;}.formError .formErrorContent{background:#ff9000;position:relative;z-index:5001;color:#fff;width:190px;font-size:10px;border:1px solid #ff9000;line-height:normal;padding:2px 10px 2px 10px}.formError .formErrorArrow{width:12px;margin:-2px 0 0 1px;position:relative;z-index:5006}.formError .formErrorArrowBottom{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;margin:0 0 0 12px;top:2px}.formError .formErrorArrow div{font-size:0;height:1px;background:#ff9000;margin:0 auto;line-height:0;display:block}.formError .formErrorArrowBottom div{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}.formError .formErrorArrow .line10{width:15px;border:0}.formError .formErrorArrow .line9{width:13px;border:0}.formError .formErrorArrow .line8{width:11px}.formError .formErrorArrow .line7{width:9px}.formError .formErrorArrow .line6{width:7px}.formError .formErrorArrow .line5{width:5px}.formError .formErrorArrow .line4{width:3px}.formError .formErrorArrow .line3{width:1px}.formError .formErrorArrow .line2{width:0}.formError .formErrorArrow .line1{width:0}.inputbox-error{border-bottom:1px solid #ff9000!important}

#invest-arrows, #invest-arrows-1, #invest-arrows-2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .slick-arrow {
    padding: 0;
    border: 1px solid $quaternary;
    border-radius: 50%;
    background: transparent;
    width: 50px;
    height: 50px;
    color: $quaternary;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 100ms ease-in-out;
    z-index: 99;
    margin:0 15px;
    &:hover,
    &:active,
    &:focus-visible {
      border-color: $primary;
      color: $primary;
    }

    img {
      svg {
        width: 15px;
        height: 15px;
        fill: $primary;
      }
    }

    &.slick-disabled {}
  }

  .slick-prev {
    left: 15px;
    svg {
      position: relative;
      left: 0;
    }
  }

  .slick-next {
    right: 15px;
    left: auto;
    svg {
      position: relative;
      left: 0;
    }
  }
}