.contact-office-boxes {

  .title {
    @include font-size(1.875rem);
    font-weight: 900;

    @include media-breakpoint-down(md) {
      // text-align: center;
    }
  }


  .contact-office-image {
    height: 100%;
    object-fit: cover;
  }

  .contact-office-box {
    height: 100%;
    background: $white;
  }

  .contact-office-info {
    padding-block: 2rem;

  }

  .list-title {
    color: $black;
    @include font-size(1.875rem);
    font-weight: 900;

    @include media-breakpoint-down(md) {
      text-align: start;
    }
  }

  .contacts {
    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    a {
      display: flex;
      gap: 1rem;
      align-items: center;
      @include font-size(12px);

      text-transform: uppercase;
      font-weight: 700;
      color: $black;

      @include media-breakpoint-down(md) {
        @include font-size(15px);
        display: flex;
        flex-direction: row;
        align-items: center;
        letter-spacing: $ls-sm;
        gap: 1rem;
      }

      &:hover {
        text-shadow: $box-shadow-lg;
        color: $primary;
      }
    }
  }

  .contact-box {
    display: flex;
    gap: 1rem;
    color: $black;

    a:hover {
      color: $primary;
    }

    a:hover svg {
      circle {
        fill: $white;
      }

      path {
        stroke: $primary;
      }
    }

    svg {
      min-width: 32px;
      min-height: 32px;
      width: 32px;
      height: 32px;
    }

    &.email {
      a {
        font-weight: 500;
        @include rfs($font-size-base);
        text-transform: lowercase;
        word-break: break-all;
      }
    }

    &.location {
      font-weight: 500;
      @include rfs($font-size-base);
      text-transform: lowercase;

      display: flex;
      align-items: center;

      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        text-align: start;
      }
    }

    &.phone {
      a {
        font-weight: 500;
        letter-spacing: 1px;
        @include rfs($font-size-22px);
      }
    }
  }
}