  .investments {

    .empty-message {
      color: $primary;
      font-weight: 900;
      @include font-size(2.5625rem);
    }

    .nav-tabs {
      border: none;
      margin-bottom: max(40px, calc(80 / 1920 * 100vw));
    }

    .nav-item {
      @include media-breakpoint-down(sm) {
        width: 100%;

      }

      .nav-link {
        border-radius: 0;
        border: none;
        color: $black;
        padding: 1.375rem 5.3125rem;
        padding: 1.375rem 0.8rem;
        width: 259px;
        font-weight: 400;
        @include font-size(1rem);
        text-transform: uppercase;
        letter-spacing: .8px;

        @include media-breakpoint-down(lg) {
          width: 100%;
          padding: 1.375rem 2rem;

        }


      }

      .nav-link.active {
        background-color: $primary;
        color: $white;
      }
    }

    //
    // Investment Box
    //

    .investment-box {
      background: $white;
      height: 100%;
      text-decoration: none;
      display: inline-block;
      border: 1px solid transparent;
      transition: border-color 0.3s ease;

      &:hover,
      &:focus {
        border: 1px solid $primary;
      }


      .investment-inner {
        width: 100%;
        padding: 1rem;

        .investment-subtitle {
          @include font-size(0.875rem);
          font-weight: 400;
          text-transform: uppercase;
          color: $primary;
        }

        .investment-title {
          @include font-size(1.875rem);
          color: $black;
          font-weight: 900;
        }

      }

    }

    .title-container {
      .header-1 {
        @include font-size(1.875rem);
      }
    }
  }