.section-clip {
  overflow-x: clip;
}

.about-us {
  .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .recommendation {
    min-width: none;
    position: relative;
    height: fit-content;
  }

  .recommendation-slider {
    margin-top: 3rem;

    @include media-breakpoint-up(xl) {
      margin-top: 0;
      position: relative;
      max-width: 1200px;
      width: calc(1200 / 1920 * 100vw);
      height: 100%;
    }



    .slick-list {
      padding-right: 35%;
      height: 100%;
    }

    .slick-track {
      height: 100%;
    }

    .slick-slide {
      margin-inline: 10px;
      padding-block: min(70px, calc(70 / 1920 * 100vw));
      padding-inline: min(50px, calc(50 / 1920 * 100vw));
      background-color: $white;

      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.5rem;

      &>div:first-child {
        height: inherit;
      }



      @include media-breakpoint-up(lg) {
        margin-left: 20px;
        gap: 0;
        transform: scale(0.5);
        transition: all 150ms linear;
        transition-delay: 150ms;
        transform-origin: left bottom;
      }

      .box-name {
        display: flex;
        align-items: center;
        gap: 1rem;

        .name {}

        .avatar {
          width: 46px;
          height: 46px;
          border-radius: 50%;
        }
      }
    }

    .slick-current {
      transform: scale(1);
      transition: all 300ms linear;
    }

    .with-image-overlay-gradient {
      display: flex;
      flex-direction: column;
      height: 100%;

      a {
        margin-top: auto;
      }
    }

    .slick-slide:not(.slick-current) {
      @include media-breakpoint-up(lg) {
        position: relative;
        filter: blur(4px);

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-image: linear-gradient(90deg, $tertiary, $primary);
          opacity: 0.4;
        }
      }
    }

    .slick-current .with-image-overlay-gradient {


      @include media-breakpoint-up(lg) {
        position: relative;
        filter: blur(0);

        &:after {
          content: "";
          display: none;
        }
      }
    }
  }

  // Slider Buttons

  .recommendation-slider-btns {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;

    @include media-breakpoint-down(lg) {
      bottom: -75px;
    }

    @include media-breakpoint-down(lg) {
      bottom: 0;
    }
  }

  .slick-arrow {
    padding: 0;
    border: 1px solid $quaternary;
    border-radius: 50%;
    background: transparent;
    width: 50px;
    height: 50px;
    color: $quaternary;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 100ms ease-in-out;

    &:hover,
    &:active,
    &:focus-visible {
      border-color: $primary;
      color: $primary;
    }

    img {
      svg {
        width: 15px;
        height: 15px;
        fill: $primary;
      }
    }

    &.slick-disabled {}
  }

  .slick-prev {
    svg {
      position: relative;
      left: -1px;
    }
  }

  .slick-next {
    svg {
      position: relative;
      left: 2px;
    }
  }
}